body{
    font: 20px arial;
}
.navbar{
    background-color:  #660066;
}

.quem-somos{
    background-color:  #ffff00;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
    
}

.parceiros{
    background-color:#cccc00;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}